- const testing = false
- const siteTitle = "That's Not Poutine."
- const siteURL = "https://notpoutine.ahoylemon.xyz"
- const description = "a running collection of menu items which claim to be poutine, but aren't."
- const d = new Date()
- const lastUpdated = d.toISOString()